<p class="headerParg">You're all set. Ready? </p>

<!-- Form 1: Personal Info -->
<form >
  <div class="form">
    <img class="doneImg" src="../../assets/mailbox.png">
    <p style="  text-align: center;color: #ff5f59;font-weight: bold;margin:0">We will send a message for this e-mail </p>
    <p style="  text-align: center;">example@example.com </p>
  </div>
  <button mat-raised-button (click)="submitData()" type="submit" class="primaryBtn">Confirm</button>
  <button mat-button (click)="back()" class="backBtn">Back</button>
  </form>