<!-- Form 1: Personal Info -->
<form>
  <div class="form">

    <img class="doneImg" src="../assets/mailbox.png">
    <p style="  text-align: center;font-weight: bold;margin:0">Congratz, you successfully created your account
    </p>
    
    <p style="text-align: center">We just sent you a confirmation email <br> Please check your E-mail</p>

    <p style="text-align: center;margin-top:5%">Didn't receive it? <br> Check your spam folder or <span style="color:#ff5f59;text-decoration: underline;">Resend Email</span></p>

  </div>
</form>